/* list tabs */
.list-nav {
  margin: 2rem 0;
  justify-content: space-around;
  display: flex;
}
.list-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-term .food-type-icon {
  width: 3rem;
  height: 3rem;
}
.nav-term .food-type-icon img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* list container */

.list-container {
  margin-bottom: 60px;
}

.list-wrapper {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}

.list-content {
  gap: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-content li {
  border-radius: 20px;
  gap: 1rem;
  justify-content: space-around;
  display: flex;
}

.list-content li:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 1px 100px -30px #888888;

  transition: all 0.3s ease-in-out;
}

.list-content li:hover .addCart {
  display: flex;
  transition: all 0.6s ease-in-out;
}

.list-content li div {
  flex: 1;
}

.list-details{
  padding: 1rem;
}
.list-wrapper img {
  border-radius: 20px;
  width: 245px;
  height: 280px;
  object-fit: cover;
}

.addCart {
  transition: all 0.3s ease-in-out;
  display: none;
  width: 100px;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-extra-bold);
  margin-top: 2.4em;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 50px;
  border-color: red;

  justify-content: center;
  align-items: center;
  gap: 10px;
}


@media only screen and (max-width: 991px) {
  .list-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .list-content li {
    flex-direction: column;
    align-items: center;
  }
  .list-content li div{
    width: 100%;
  }
  .list-wrapper img {
    width: 100%;
  }
  .addCart{
    display: flex;
  }
}
