/* list tabs */
.list-view ul{
justify-content: space-around;
    display: flex;
}
.list-view li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-term .food-type-icon{
    width: 3rem;
    height: 3rem;

}
.nav-term .food-type-icon img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* list container */

.list-container{
    margin-bottom: 60px;
}

.list-wrapper{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.list-wrapper img{
    width: 245px;
    height: 280px;
    object-fit: cover;
}


.full-width .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}


.site-main {
    margin-bottom: 2.618em;
}
 .list-view .columns-2 ul.product li.product {
    margin-left: -15px;
    margin-right: -15px;
}

 .list-view .columns-2 ul.products li.product {
    padding: 0 15px;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 1.875em;
    transition: all 0.2s ease;
}
.product .product-outer {
    position: relative;
}
.product-inner {
    position: relative;
}
 .product-content-wrapper {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0;
    border: none;
}

.product-content-wrapper h3 {
    display: inline-block;
    overflow: hidden;
    height: 1.19em;
    line-height: 1.2em;
    max-width: 14.286em;
}
.product-image-wrapper {
    width: 44%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0;
    border: none;
}