@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-heading);
  background-color: #f1f1f1;
}

ul{
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

:root {
  --font-family-heading: "Yanone Kaffeesatz", sans-serif;
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-extra-bold: 700;
  --font-weight-bold: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-size-extra-large: 3em;
  --font-size-large: 2.5em;
  --font-size-body-1: 1em;
  --font-size-body-2: 2em;
}

.navbar {
  padding: 1.5rem;
  background-color: yellow;
  z-index: 99;
}
.navbar-nav {
  font-family: var(--font-family-body);
}
.navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid red;
  font-weight: var(--font-weight-extra-bold);
}

/* Hero Section */

.hero-title {
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-extra-large);
  color: white;
}

.hero-subtitle {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  color: white;
}
.carousel {
  margin-bottom: 60px;
  height: 80vh;
  width: 100%;
}

.carousel-inner {
  background-color: black;
}
.carousel img {
  opacity: 0.5;
  object-fit: cover;
}

.carousel .hero_text {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/* titles */
.titles {
  margin-bottom: 60px;
}
.title-img {
  height: 210px;
  position: relative;
  object-fit: cover;
  width: 100%;
}

.banner:hover .title-img {
  opacity: 0.5;
}

.caption {
  position: absolute;
  top: 15px;
  left: 15px;
}

.title {
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-large);
  color: white;
}
.subtitle {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-1);
  color: white;
}
.banner {
  position: relative;
  margin-bottom: 1.375em;
}

.tiles .banner.top-left .caption .condition {
  display: block;
  position: absolute;
  top: 350px;
}

/* ============ menus =============== */

.menus{
  margin-bottom: 60px;
}
.menu-header {
  font-size: var(--font-size-extra-large);
}

.menu-card {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin: auto;
  max-width: 350px;
  height: 100%;
  border-radius: 17px;
  padding: 20px 20px 0;
  background-color: white;
  box-shadow: 0 10px 20px 0.2px rgba(20, 0, 34, 0.1);
}

.menu-card img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
}

.tab-content {
  margin-top: 15px;
}
.nav-tabs .nav-link.active {
  background-color: transparent;
  font-weight: 700;
  border-bottom: 2px solid red;
  color: black;
}
.nav-tabs .nav-link {
  font-family: var(--font-family-body);
  color: gray;
  margin-bottom: -1px;
  background: 0 0;
  border: 0px solid transparent;
}

.menu-description {
  font-style: italic;
  color: #71706c;
  line-height: 1.6;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-regular);
}

.menu-card-button {
  text-align: center;
  font-family: var(--font-family-body);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  background: red;
  color: white;
}

.menu-card-button:hover {
  color: white;
  font-weight: var(--font-weight-bold);
}
/* ========= feature list ============= */

.features-list {
  background-color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-family: var(--font-family-body);
  padding: 6.478em 0;
  text-align: center;
}

.feature-label h4 {
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-regular);
}

.feature-icon i {
  color: red;
  display: table;
  margin: 0 auto;
  height: 124px;
  font-size: 5.056em;
}

/* ==================== service  =====================*/

.service-section {
  padding: 6.478em 0;
  position: relative;
}
.service-section .service-content h6 {
  font-size: var(--font-size-extra-large);
  margin-bottom: 50px;
}

.service-section .service-content h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-light);
  margin-bottom: 70px;
}
.service-section .service-content .service-image {
  margin-bottom: 130px;
}
.service-section .services-data .service-box {
  position: relative;
  text-align: center;
  margin-bottom: 36px;
  padding: 50px 0;
}
.service-section .services-data .service-box .img {
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.service-section .services-data .service-box h3 {
  margin-bottom: 26px;
}

.service-section .services-data .service-box:hover {
  background-color: white;
  box-shadow: 1px 1px 100px -30px #888888;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.service-section .services-data .service-box .img:hover {
  transform: translateY(-5px);
}
.service-section .service-content h2 {
  margin-bottom: 30px;
}
.service-section .services-data .service-box {
  margin-bottom: 10px;
  padding: 30px 8px;
}
.service-section .services-data .service-box .img {
  margin-bottom: 15px;
}
.service-section .services-data .service-box .img img {
  width: 60px;
}

.service-section .services-data .service-box .sub_text {
  font-family: var(--font-family-body);
  padding: 0 20px;
}
.service-section .services-data .service-box .more {
  padding: 8px 20px;
}

/* ================================ Footer part start ============================ */
.footer-section {
  color: white;
  background-color: #2c2c2c;
  padding-bottom: 52px;
}

.footer-section .middle-portion {
  border-top: 2px solid #f3f7f7;
  padding-top: 76px;
}
.footer-section .footer-logo {
  position: relative;
  top: 18px;
  margin-bottom: 30px;
}
.footer-section .middle-portion .footer-text {
  margin-bottom: 6px;
}
.footer-section .middle-portion .payment-icon {
  position: relative;
  left: -36px;
  bottom: 27px;
}

.footer-section .middle-portion .heading {
  margin-bottom: 18px;
}
.footer-section .middle-portion .line {
  color: var(--epay-orange-color);
  width: 32px;
  background-color: var(--epay-orange-color);
  text-align: left;
  margin: 0 0 34px 0;
}

.footer-section .middle-portion .social-icons .circle {
  background: #cbcbcb;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  line-height: 35px;
  text-align: center;
  margin-right: 2px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.footer-section .text:hover {
  color: var(--epay-orange-color);
}

.footer-section .middle-portion .social-icons .circle:hover {
  background-color: var(--epay-main-color);
  transform: translateY(-5px);
}
.footer-section .middle-portion .social-icons a {
  color: var(--epay-white-color);
}

.footer-section .icon .text1 {
  margin-bottom: 20px;
}
.footer-section .partner-section .partner img:hover {
  transform: translateY(-5px);
}


/*  ====================== copyright section ================== */
.copyright {
  text-align: center;
  padding: 15px 0px;
 
  background-color: var(--epay-main-color);
}

.copyright .text-size-16 {
  color: var(--epay-white-color);
  margin: 0px;
}



/* ======================= plan part start ============================= */
.plan {
  background-color: white;
    padding: 145px 0;
}
.plan .content h6 {
    margin-bottom: 20px;
}
.plan .content h2 {
    margin-bottom: 70px;
    
}

.plan .pricing {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 19px 45px;
}
.plan .pricing h3 {
    margin-bottom: 6px;
}   
.plan .pricing .text {
    font-size: 14px;
    line-height: 30px;
}

.plan .pricing div{
    margin: auto 0;
}

.plan .facility li:first-child {
    margin-left: 0;
}

.plan .facility li p {
    padding-left: 10px;
    margin-top: -7px;
}
.plan .facility li {
    display: inline-flex;
    margin: 0 20px;
}

.plan .pricing:hover {
  cursor: pointer;
    background-color: red;
    box-shadow: 1px 1px 100px -20px #888888;
    border: 1px solid grey;
    transition: all 0.5s ease-in-out;
}
.plan .pricing:hover h3 {
    color: white !important;
}
.plan .pricing:hover h4 {
    color: white !important;
}
.plan .pricing:hover p {
    color: white !important;
}







/* ========== breadcrumb  ============== */
.breadcrumb {
  margin: 0;
}
.bachelor-breadcrumb {
  border-bottom: 1px solid #c9c6c6;
  padding: 30px 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-1);
}
.breadcrumb a {
  color: #666;
  display: inline-block;
}

.breadcrumb span.delimiter {
  margin: 0 1.04em;
}

@media (max-width: 767px) {
  .site-address .address li {
    display: block;
  }
  .site-address .address li + li::before {
    display: none;
  }
}

@media only screen and (max-width: 575px){
  h2 {
      font-size: 30px;
      line-height: 36px;
  }


  .footer-section .middle-portion {
      text-align: center;
      padding-top: 40px !important;
  }
  .footer-section {
      padding-bottom: 60px;
  }
  .footer-section .partner-section {
      padding: 40px 0px 20px;
  }
  .footer-section .partner-section .partner li:first-child {
      margin-left: 48px !important;
  }
  .footer-section .partner-section .partner li {
      margin: 0 52px 25px 0 !important;
  }
  .footer-section .partner-section .partner .img-mb {
      margin-left: 40px !important;
  }
  .footer-section .middle-portion {
      text-align: center;
      padding-top: 40px;
  }
  .footer-section .middle-portion p {
      display: none;
  }
  .footer-section .middle-portion .payment-icon {
      left: 4px;
  }
  
  .footer-section .middle-portion .line {
      display: none;
  }    
}